@using Poc.RCL.Models

<div class="kpi-card" style="border-left: 5px solid @Data.AccentColor">

    @* Sostituito l'onclick JS con il metodo C# *@
    <div class="kpi-card-header"
         style="cursor:pointer;"
         @onclick="FiltraInteroGruppo">
        <div class="kpi-header-icon" style="background-color: @(Data.AccentColor)1A; color: @Data.AccentColor;">
            <i class="@Data.HeaderIcon"></i>
        </div>
        <span class="kpi-card-title">@Data.Title.ToUpper()</span>
    </div>

    @if (Data.IsGrid)
    {
        <div class="kpi-grid-2-columns">
            @foreach (var metric in Data.Metrics)
            {
                <MetricKpiItem Item="metric" OnMetricClick="FiltraSingolaMetrica" />
            }
        </div>
    }
    else
    {
        <div class="kpi-card-body">
            @foreach (var metric in Data.Metrics)
            {
                <MetricKpiItem Item="metric" OnMetricClick="FiltraSingolaMetrica" />
            }
        </div>
    }
</div>